<p>
  <b>License:</b>
  <%=h @sells_at.license %>
</p>

<p>
  <b>Festival id:</b>
  <%=h @sells_at.festival_ID %>
</p>


<%= link_to 'Edit', edit_sells_at_path(@sells_at) %> |
<%= link_to 'Back', sells_ats_path %>